// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


.custom-header {
    width: 100%;
    border-bottom: 2px solid rgb(183, 255, 159);

    .navbar-brand {
        font-weight: bold;
    }
}

.custom-nav-link {
    color: #007bff !important;
    transition: font-weight 0.2s ease;

    &:hover {
        color: #0064ce !important;
        font-weight: bold;
    }
}

.custom-footer {
    width: 100%;

    .footer-links-area {
        background-color: rgb(235, 235, 235);
    }

    .footer-copy-area {
        background-color: rgb(66, 66, 66);
        border-top: 1px solid #dee2e6;
        color: rgb(208, 208, 208);
    }
}

.detail-img, .purchase-img {
    max-width: 300px;
}

.like-btn {
    font-size: 2rem;
    line-height: 1;
    background: none;

    &-active {
        color: #dc3545;
    }

    &-inactive {
        color: #6c757d;
        transition: color 0.2s;

        &-hover {
            color: #dc3545;
        }
    }
}